{% extends 'app/base.html' %}
{% block content %}
<nav>
    <ul>
        <li><a href="{% url 'create_article' %}">Create Article</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
</nav>
<h1>Articles</h1>
<ul>
    {% for article in articles %}
    <li>{{ article.tittle }} with {{ article.word_count }} words. <a
            href="{% url 'update_article' article.id %}">Edit</a> <a
            href="{% url 'delete_article' article.id %}">Delete</a></li>
    {% endfor %}
</ul>
{% endblock content %}